<div class="container-fluid">
    <div class="row" style=" background-image: linear-gradient(to left bottom, #0d1d36, #0b1a39, #0c163b, #10123d, #160c3d); border-radius: 8px;">
            <!-- <h5 class="text-center" style="font-size: 25px; font-family: palatino; color: wheat;">User Profile</h5> -->
        
             <div class="col-lg-2"  style="background-image: linear-gradient(to left bottom, #0d1d36, #0b1a39, #0c163b, #10123d, #160c3d); margin-top:1%; border-radius: 8px;"> 
                <!-- <h2>intern nexsus</h2> -->
            </div> 
            <div class="col-lg-8" style="border: 1px solid #182C61; background-image: linear-gradient(to left bottom, #0d1d36, #0b1a39, #0c163b, #10123d, #160c3d); margin-top:1%; border-radius: 8px;">
                <div class=col-lg-12 style="border: 1px solid #182C61; text-align: center; margin-top:-10px; border-radius: 8px; background-image: linear-gradient(to bottom, #446eaf, #3d5da3, #394b96, #383a88, #372778); height:150px;">
                     <!-- <p style="color: white; font-size:25px; font-family: palatino; display: inline-block; margin-top:2%;">User Profile</p>  --> 
                  <!-- <p style="color: black; font-size:18px; font-family: palatino;">Complete your profile</p> -->
                    <img class="img" src="../../assets/images/shil.jpg">
                </div>
                <br/>
                <br/>
                <br/>
                <Form class="offset-lg-3">
                        <div class="form-row ">
                              <div class="form-group col-md-8" style="margin-top: 2.2%;">
                                    <label for="inputPassword4" style="color: white; font-size:20px; font-family: palatino; ">Name:</label>
                                    <input type="string" class="form-control"  id="inputEmail4" placeholder="Enter Your Name" style="border-radius: 20px;">
                              </div>
                              <div class="form-group col-md-8" style="margin-top: 2.2%;">
                                    <label for="inputPassword4" style="color: white; font-size:20px; font-family: palatino;">Email: </label>
                                    <input type="string" class="form-control"  id="inputEmail4" placeholder="Enter Your Email" style="border-radius: 20px;">
                              </div>
                              <div class="form-group col-md-8">
                                    <label for="inputPassword4" style="color:white; font-size:20px; font-family: palatino;">Phone Number:</label>
                                    <input type="number" class="form-control"  id="inputEmail4" placeholder="Enter Your Phone No." style="border-radius: 20px;">
                              </div>
                              <div class="form-group col-md-8" style="margin-top: 0%;">
                                    <label for="inputPassword4" style="color: white; font-size:20px; font-family: palatino;">Full Name:</label>
                                    <input type="string" class="form-control"  id="inputEmail4" placeholder="Enter Your Full Name " style="border-radius: 20px;">
                              </div>
                              <div class="form-group col-md-8">
                                    <label for="inputAddress" style="color: white; font-size:20px; font-family: palatino;">HR Contact:</label>
                                    <input type="string" class="form-control"  id="inputEmail4" placeholder="Enter HR Contact" style="border-radius: 20px;">
                              </div>
                              <div class="form-group col-md-8">
                                    <label for="inputAddress" style="color: white; font-size:20px;">StartDate:</label>
                                    <input type="string" class="form-control"  id="inputEmail4" placeholder="Enter Your Start Date" style="border-radius: 20px;">
                              </div>
                              <div class="form-group col-md-8">
                                    <label for="inputAddress" style="color: white; font-size:20px; font-family: palatino;">Field:</label>
                                    <input type="string" class="form-control"  id="inputEmail4" placeholder="Enter Your Field" style="border-radius: 20px;">
                              </div>
                              <div class="form-group col-md-8">
                                     <label for="inputAddress" style="color: white; font-size:20px; font-family: palatino;">State:</label>
                                     <input type="string" class="form-control"  id="inputEmail4" placeholder="Enter Your State" style="border-radius: 20px;">
                              </div>
                              <div class="form-group col-md-8">
                                     <label for="inputAddress" style="color: white; font-size:20px; font-family: palatino;">Company Address:</label>
                                     <input type="string" class="form-control"  id="inputEmail4" placeholder="Enter Company Address" style="border-radius: 20px;">
                              </div>
                              <div class="form-group col-md-8">
                                     <label for="inputAddress" style="color: white; font-size:20px;font-family: palatino;">Other:</label>
                                     <input type="string" class="form-control"  id="inputEmail4" placeholder="Enter Others" style="border-radius: 20px;">
                              </div>
                        </div>
                 <div class="form-group col-md-8 text-center  offset-lg-0.5">
                    <!-- <input class="btn btn-primary" type="Update" style="background-image: linear-gradient(to right top, #090708, #120b11, #170f18, #191320, #181728, #23283a, #2e3a4c, #3b4d5e, #61747f, #8c9ca3, #bbc6c8, #edf1f1); cursor: pointer;"  value="Submit"/>  -->
                    <button type="button" class="btn btn-primary btn-round " style="background-image: linear-gradient(to top, #2c12d1, #2910be, #260dab, #230b98, #1f0986, #1e0887, #1d0887, #1c0788, #1c079c, #1b07b1, #1706c6, #1006db); color:whitesmoke; border-radius:20px;">Update Profile Details</button>
                 </div>
            </Form>
            </div>
        <!-- </div> -->
    </div>
</div>
<!-- <div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
                <div class="col-lg-5">dasdsa</div>
                <div class="col-lg-5">dadsad</div>
        </div>
        
    </div>
</div> -->